<div class="accessories-block special-block">
  <h3 class="heading">Обязательно</h3>
  <p>Нужно иметь с собой:</p>
  <ul>
    <li>Телефон с выходом в интернет</li>
    <li>Фонарь</li>
    <li>Автомобиль</li>
    <li>Командное соглашение</li>
    <li>Взнос на игру</li>
  </ul>
</div>