<div class="teams-index-page">
  <h2 class="heading">
    <span>Команды проекта</span>
    <%= link_to "Создать команду", :new_team, :class => "right-link" unless current_user.member_of_any_team? %>
  </h2>
  <% unless @teams.empty? %>
    <div class="teams-listing">
      <% @teams.each do |team| %>
        <%= cell(TeamsPage::Item, team) %>
      <% end %>
    </div>
  <% else %>
    <div class="empty-list">
      <p>Никто пока не заявил команду на проект. <%= link_to "Будь первым!", new_team_path %></p>
    </div>
  <% end %>
</div>