<div class="upcoming-games">
  <h5 class="heading">
    Завершенные игры
  </h5>
  <% Game.finished.each do |game | %>
    Завершена игра <b><%= link_to game.name, game %></b> |
      <%= link_to "Посмотреть результаты", :controller => :game_passings, :action => :show_results, :game_id => game.id %>
    <br/>
  <% end %>
</div>
