<% unless Game.finished.empty? %>
<div class="upcoming-games">
  <h5 class="heading">
    <span>Завершенные игры</span>
  </h5>
  <% Game.finished.each do |game | %>
    Завершена игра <b><%= link_to game.name, game %></b> |
      <%= link_to "Посмотреть результаты", game_stats_path(game) %>
    <br/>
  <% end %>
</div>
<% end %>
