<% unless @invitations.empty? %>
  <div class="dashboard-invitations">
    <% unless current_user.member_of_any_team? %>
      <h4 class="current-team">
        Приглашения в команды
      </h4>
      <div class="team-invitations">
        <% @invitations.each do |invitation| %>
          <p>Вас пригласили в команду <%= invitation.to_team.name %>
            <em><%= link_to "(принять)", accept_invitation_path(invitation), :method => :post, :id => "accept-invitation-#{invitation.id}" %></em>
            <em><%= link_to "(отказаться)",  reject_invitation_path(invitation), :method => :post, :id => "reject-invitation-#{invitation.id}" %></em>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>