<footer>
  <div class="links">
    <a href="https://vk.com/autoquest73" target="_blank">ВКонтакте</a>
    <a href="https://t.me/joinchat/DawTuA0eO6G_JY29NJbFpQ" target="_blank">Telegram</a>
  </div>
</footer>