<nav class="top-menu">
  <div class="nav-item">
    <%= link_to "Результаты игр", :game_results %>
  </div>

  <div class="nav-item">
    <%= link_to "Рейтинги", :ratings %>
  </div>

  <% if user_signed_in? %>

    <div class="nav-item">
      <% if not current_user.member_of_any_team? %>
        <%= link_to "Создать команду", :new_team %>
     <% end %>
    </div>
  <% end %>
  
  <%= render 'includes/login_menu' %>
</nav>