<% if hints.empty? %>
    <em>Подсказок нет</em>
<% else %>
    <% hints.each do |hint| %>
        <p>
          <em>Через</em> <strong><%= link_to hint.delay_in_minutes, [:edit, hint.level.game, hint.level, hint] unless @level.game.started? %></strong> <em>минут:</em>
          <em>
            <%= link_to "(редактировать)", [:edit, hint.level.game, hint.level, hint] unless @level.game.started? %>
            <%= link_to "(удалить)", [hint.level.game, hint.level, hint], :method => :delete unless @level.game.started? %>
          </em>
        </p>
        <p>
          <%= hint.text %>
        </p>
        <br />
    <% end %>
<% end %>