<div class="accessories-block special-block">
<h5 class="heading">Обязательные принадлежности:</h4>
<ul>
    <li>Телефон с выходом в интернет</li>
    <li>Фонарь</li>
    <li>Автомобиль</li>
    <li>Командное соглашение</li>
    <li>Взнос на игру</li>
</ul>
</div>