<% if is_visible_helpful_block %>
<div class="helpful-block special-block">
  <h3 class="heading">Полезные ссылки</h3>
  <div class="menu">
    <a href="https://vk.com/autoquest73">Группа <i class="fab fa-vk"></i></a>
    <a href="http://nightquests.ru/">Все о городских квестах</a>
  </div>
</div>
<% end %>