<div class="game-entries">
  <h4 class="heading"><span>Подали заявку</span></h4>

  <div class="entry-list">
    <% game_entries.each do |entry| %>
      <%
        @team = Team.find(entry.team_id)
        @game = Game.find(entry.game_id)
      %>
      <div class="game-entry">
        <i class="fas fa-car"></i>
        <span class="team"><%= link_to @team.name, [@team] %></span>
        <span class="separator">|</span>
        <span class="controls">
          <%= link_to "принять", accept_game_entry_path(entry.id) %>
          <%= link_to "отказать", reject_game_entry_path(entry.id) %>
        </span>
      </div>
    <% end %>
  </div>
</div>
