<div class="game-teams">
  <h4 class="heading">Приняты к участию</h4>

  <div class="teams-list">
    <% teams.each do |team| %>
      <span class="team"><%= link_to team.name, [team] %></span>
    <% end %>
  </div>
</div>
