<div class="top-banner promo-block">
  <div class="center-container">
    <div class="promo-content">
      <h1 class="hero-heading">Ночные автомобильные квесты в Ульяновске<hr>Посмотри на город другими глазами</h1>
      <div class="calls-to-action">
        <%= link_to "Зарегистрироваться", signup_path, :class => 'button' %>
        <%= link_to "Найти команду", signup_path, :class => 'button' %>
      </div>
    </div>
  </div>
</div>