<div class="game-finish-page">
  <h3 class="heading">Поздравляем, вы закончили игру!</h3>

  Поставьте оценку игре.
<% if @game.is_testing? %>
  <br/>
  <%= link_to "Завершить тестирование", finish_test_game_path(@game.id) %>
<% end %>

</div>