<div class="game-finish-page">
  <h2 class="heading">Поздравляем, вы закончили игру!</h2>

  <p>Поставьте оценку игре.</p>
<% if @game.is_testing? %>
  <br/>
  <%= link_to "Завершить тестирование", finish_test_game_path(@game.id) %>
<% end %>

</div>