<div class="stats-index-page">
  <h2 class="heading">Результаты прошедших игр</h2>
  <div class="games-listing">
  <% @games.each do |game| %>
    <%= cell(GameStatsPage::GameItem, game) %>
  <% end %>
  </div>
</div>