<% levels.each do |level| %>
  <p>
    <%= level.position %>. <%= link_to level.name, [level.game, level] %>
    <%= link_to "↑", [:move_up, level.game, level] unless level.first? %>
    <%= link_to "↓", [:move_down, level.game, level] unless level.last? %>
  </p>
  <br />
<% end %>