@import "game_stats";

@mixin page-section {
  margin-top: 2rem;

  & > * {
    margin-top: 2rem;
  }
}

.game-controls, .game-players, .team-controls {
  @include page-section;
}

.user-input {
  font-family: $monospace-font-family;
  font-weight: 600;
}