html, body {
  font-size: $global-font-size;
  @include breakpoint(medium down) {
    font-size: (0.85 * $global-font-size);
  }
}

#encounter-app {
}

#encounter-app:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.app-grid {
  @include xy-grid(vertical);
  overflow: initial;
}

.header-section {
  box-shadow: 0 0px 1px 2px rgba(60, 60, 60, .3), inset 0 0 15px 4px rgba(0,0,0,.75);
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.header-container,
.center-container,
.footer-container {
  @include xy-grid-container;
}

.center-section {
  margin-top: 2rem;
}

.footer-section {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 2rem;
  padding: 1rem;
  opacity: .75;
}

.center-columns {
  @include xy-grid(horizontal);
  @include xy-cell-base(auto);
}

.sidebar-container {
  @include xy-cell(6 of 20, $gutter-position: left);
  @include breakpoint(medium down) {
    margin-top: 2rem;
    @include xy-cell(100%, $gutters: 0);
  }
}

.main-container {
  @include xy-cell(auto, $gutter-position: right);

  @include breakpoint(medium down) {
    @include xy-cell(100%, $gutters: 0);
  }

  @include xy-cell-block($vertical: true);
  max-width: 100%;
  overflow: initial;

  h1.heading, h2.heading {
    margin-bottom: 2rem;
  }
}

.fr-box {
  @include bordered();
  border-radius: $global-radius;
  margin: 0 0 1rem;

  p {
    margin: 0;
  }
}

.form-error-messages {
  @include callout-base;
}

.add-link {
  margin-top: 1rem;
}

.form-actions {
  @include flex;
  @include flex-align(left, middle);
  margin-top: 1rem;

  * + * {
    margin-left: $global-margin;
  }

  button, input[type=submit] {
    margin: 0;
  }
}

em {
  font-weight: $light-font-weight;
  color: $light-gray;
  font-style: normal;
}

a {
  border-bottom: 1px solid $anchor-underline-color;
}

hr {
  border-bottom: 1px solid $light-gray-alternative;
}

hr.invisible {
  border: none;
  display: table;
}

a.no-underline,
.menu a {
  border-color: transparent;
}

.menu a:focus,
.menu a:active {
  outline: none;
}

.heading {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  .heading-link {
    font-size: 0.8em;
  }

  .right-link {
    margin-left: auto;
    font-size: 0.8em;
  }

  .sticker {
    border-radius: $global-radius;
    font-size: 1rem;
    background-color: fade-out($accent-color, .2);
    color: $body-background;
    padding: .5rem;
    margin-left: 1rem;
  }

  margin-left: -.25rem;
  margin-right: -.25rem;

  & > * {
    border-left: solid .25rem transparent;
    border-right: solid .25rem transparent;
    box-sizing: border-box;
    /** relative so that our ::before absolute block can position itself according to it's parent block **/
    position: relative;
  }

  & > *::before {
    content: '';
    /** pseudo-elements are inline by default **/
    display: block;
    /** same height and width than our column **/
    width: 100%;
    height: 100%;
    /** position absolute starting at the top and left of our column **/
    position: absolute;
    top: 0;
    left: 0;
    /** we want the pseudo-element to be behind our real column **/
    z-index: -1;
  }

  & > a {
    border-bottom: none;
  }

  & > a::before {
    border-bottom: 1px solid $light-gray-alternative;
  }
}

form {
  .field_with_errors input {
    @include form-input-error();
  }
}

button, input[type=submit] {
  @include button();
}

.pagination a, .pagination button {
  background-color: $light-gray-alternative;
}

.dropdown-pane {
  box-shadow: inset 0 0px 1px 2px rgba(60, 60, 60, .3), 0 0 15px 1px rgba(0, 0, 0, .75);
}