@import '~foundation-sites/assets/foundation.scss';
@import url('//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css');

@import 'variables.scss';
@import 'level.scss';
@import 'header.scss';


#encounter-app {
}

.app-grid {
    @include xy-grid(vertical);
    @include xy-grid-frame($vertical: true);
    overflow: initial;
}

.header-section {
    box-shadow: 0 1px 5px 2px rgba(0,0,0,.1);
}

.header-container {
    @include xy-grid-container;
}

.center-container {
    @include xy-grid-container;
}

.center-columns {
    @include xy-grid(horizontal);
    @include xy-cell-base(auto);
}

.sidebar-container {
  @include xy-cell(3 of 12, $gutter-position: left);
}

.main-container {
  @include xy-cell(auto, $gutter-position: right);
  @include xy-cell-block($vertical: true);
  overflow: initial;
}

.fr-box {
    @include bordered();
    margin: 0 0 1rem;

    p {
        margin: 0;
    }
}

.form-error-messages {
    @include callout-base;
}

.form-actions {
    @include flex;
    @include flex-align(left, center);

    * + * {
        margin-left: 2 * $vertical-unit;
    }

    button, input[type=submit] {
        margin: 0;
    }
}

form {
    .field_with_errors input {
        @include form-input-error();
    }
}

button, input[type=submit] {
    @include button();
}