@import '~foundation-sites/assets/foundation.scss';
@import url('//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab:300,400|Russo+One&subset=cyrillic');

@import 'variables.scss';
@import 'level.scss';
@import 'header.scss';

// font-family: 'Russo One', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto Slab', serif;

#encounter-app {
}

#encounter-app:after {    
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 15px 10px rgba(0,0,0,1) inset;
}

#encounter-app:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('/images/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;

  filter: blur(5px) grayscale(20%);
}

.app-grid {
    @include xy-grid(vertical);
    @include xy-grid-frame($vertical: true);
    overflow: initial;
}

.header-section {
    box-shadow: 0 1px 5px 2px rgba(0,0,0,.1);
}

.header-container,
.center-container,
.footer-container {
    @include xy-grid-container;
}

.center-section {    
    margin-top: 2rem;
}

.footer-section {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 2rem;
    padding: 1rem;
    opacity: .75;
}

.center-columns {
    @include xy-grid(horizontal);
    @include xy-cell-base(auto);
}

.sidebar-container {
  @include xy-cell(3 of 12, $gutter-position: left);
}

.main-container {
  @include xy-cell(auto, $gutter-position: right);
  @include xy-cell-block($vertical: true);
  overflow: initial;
}

.fr-box {
    @include bordered();
    margin: 0 0 1rem;

    p {
        margin: 0;
    }
}

.form-error-messages {
    @include callout-base;
}

.form-actions {
    @include flex;
    @include flex-align(left, center);

    * + * {
        margin-left: 2 * $vertical-unit;
    }

    button, input[type=submit] {
        margin: 0;
    }
}

form {
    .field_with_errors input {
        @include form-input-error();
    }
}

button, input[type=submit] {
    @include button();
}