.game-previews {
  .separator {
    margin-top: 4rem;
  }
}

.game-preview {
  .heading {
    .sticker.finished {
      background-color: $medium-gray;
    }
  }

  .game-preview-contents {
    @include xy-grid(horizontal);
    @include xy-cell-base(auto);

    .game-poster {
      margin-bottom: 1rem;
    }

    .main-part {
      @include xy-cell(auto, $gutter-output: false);
    }
  }

  .game-metadata {
    @include xy-grid(horizontal);
    @include xy-cell-base(auto);
    border-top: 1px solid fade-out($light-gray-alternative, .7);
    padding-top: 1.5rem;

    .game-author {
      @include xy-cell(3 of 13, $gutters: 2rem, $gutter-position: right);
    }

    .game-starts_at {
      @include xy-cell(5 of 13, $gutters: 2rem, $gutter-position: left right);
    }

    .game-registration_deadline {
      @include xy-cell(5 of 13, $gutters: 2rem, $gutter-position: left);
    }
  }
}