header {
    @include xy-grid(horizontal);
    @include xy-cell-base(auto);
    @include flex-align(null, center);
    height: 100px;

    .logo-block {
  		@include xy-cell(3 of 12, $gutter-position: right);
    }

  	.nav-block {
  		@include xy-cell(auto, $gutter-position: left);
  	}

  	.top-menu {
	    @include xy-grid(horizontal);
	    @include xy-cell-base(auto);

  		.nav-item {
        padding: 1rem;
        font-size: 1.25rem;
  		}
  	}

    .notifications {
      display: none;
    }

  	.login-menu {
	    @include xy-grid(horizontal);
	    @include xy-cell-base(auto);
      @include flex-align(right, null);

      .nav-item {
        font-size: 1.1rem;
      }
  	}
}
