.level-page {
    .page-actions {
        margin-top: 2 * $global-margin;
    }

    .hint-item p {
        margin-bottom: 0;
    }
}

.levels-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  .pagination {
    margin-right: $global-margin;
    margin-bottom: 0;
    display: inline-block;

    li {
      display: inline-block;
    }
  }

  .heading-link {
    vertical-align: middle;
  }
}