.level-page {
    .page-actions {
        margin-top: 2 * $global-margin;
    }

    .hint-item p {
        margin-bottom: 0;
    }
}

.levels-navigation {
  .pagination {
    display: inline-block;

    li {
    }
  }

  .heading-link {
    margin-left: $global-margin;
    vertical-align: middle;
  }
}