$border-custom-color: #222222;
$light-gray-alternative: #4a4a4a;
$accent-color: #ffd500;
$light-accent-color: rgba(255, 213, 0, .8);

// foundation
$light-gray: #8a8a8a;
$medium-gray: #cacaca;
$dark-gray: #e6e6e6;
$black: #ccc;
$white: #111;

$primary-color: #efefd0;

$foundation-palette: (
  primary: #efefd0,
  secondary: #C6DABF,
  success: #1A936F,
  warning: #F4F1BB,
  alert: #ED6A5A,
);

$body-font-family: 'Rubik', sans-serif;
$header-font-family: 'PT Serif Caption', serif;
$monospace-font-family: 'Anonymous Pro', monospace;
$hero-font-family: 'Yandex Sans Display', sans-serif;
$special-font-family: 'Capture It', sans-serif;
$header-font-weight: 500;
$light-font-weight: 300;

$global-radius: 4px;
$global-shadow: 0 1px 5px 2px rgba(0, 0, 0, .1);

$active-hover: $accent-color;
$anchor-color-hover: $active-hover;
$anchor-underline-color: $light-gray-alternative;
$button-background: desaturate($primary-color, 25%);
$button-background-hover: desaturate($active-hover, 25%);
$input-background: $light-gray-alternative;
$input-background-focus: $light-gray-alternative;
$input-background-disabled: $light-gray;
$button-margin: 0;

$dropdown-background: $border-custom-color;
$dropdown-border: none;

$header-height: 6rem;
$header-lineheight: 1.5rem;
$header-margin-bottom: 1rem;

$header-styles: (
  'small': (
    'h1': ('font-size': 24, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h2': ('font-size': 20, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h3': ('font-size': 19, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h4': ('font-size': 18, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h5': ('font-size': 17, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h6': ('font-size': 16, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom)
  ),
  'medium': (
    'h1': ('font-size': 30, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h2': ('font-size': 24, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h3': ('font-size': 20, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h4': ('font-size': 18, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h5': ('font-size': 17, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h6': ('font-size': 16, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom)
  ),
);

$nav-item-padding: 1rem;
$nav-item-font-size: 1rem;

$grid-margin-gutters: 4rem;