@import 'fonts';
@import 'variables.scss';
@import 'common.scss';
@import 'website/flashes';

.hints-list {
  .hint-actions {
    text-align: center;
    a {
      border-bottom: none;
    }

    & > * + * {
      margin-left: 1rem;
    }
  }
}